/* Styles Reset */
body,
h1,
form,
label,
input,
button {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-image: url('./images/ed-robertson-eeSdJfLfx1A-unsplash.jpg');
  background-size: cover;
  background-position: center;
}

/* General Styles */
body {
  background-color: #14736b;
  color: #333;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  background-color: #1ec4b7;
  border-radius: 5px;
}

form {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  background-color: #1ec4b7;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}

#bookContainer {
  margin-top: 20px;
  background-color: #28948b;
}

/* Media Query */
@media only screen and (max-width: 600px) {
  form {
    max-width: 100%;
  }
}
